body {
  text-align: center;
  margin: 0%;
  padding: 0%;
  overflow: hidden;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.parent {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: rgb(1, 110, 253);
}

.div1 {
  grid-area: 1 / 1 / 2 / 4;
}
.div2 {
  grid-area: 1 / 4 / 2 / 6;
}
.div3 {
  grid-area: 1 / 6 / 2 / 8;
}
.div4 {
  grid-area: 2 / 1 / 9 / 9;
}
.div5 {
  grid-area: 1 / 8 / 2 / 9;
}

h1,
h2 {
  color: yellow;
  font-style: initial;
}

header {
  display: contents;
  visibility: hidden;
}

p {
  color: white;
  margin: 2px 10px 1px 10px;
}

.infoImg {
  width: 50px;
  height: 40px;
}

.infoImgAnillo {
  width: 80px;
  height: 40px;
}

.imgMenu {
  width: 35px;
  height: 35px;
}

img {
  width: 400px;
  height: 120px;
}

.info,
.menu {
  height: 350px;
  width: 50%;
  background: rgb(207,0,255);
  background: linear-gradient(349deg, rgba(207,0,255,1) 0%, rgba(45,54,253,1) 100%);
  border-radius: 5px;
  border: solid 3px white;
  justify-content: center;
  align-items: center;
}

.menu__button {
  margin: 10px;
}

.div4 {
  width: 100%;
  height: 100%;
  position: relative;
}

button {
  padding: 5px;
  margin: 10px;
  background: rgb(255, 220, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 220, 0, 1) 0%,
    rgba(255, 177, 0, 1) 100%
  );
  font-size: 30px;
  border-radius: 5px;
  border: none;
}

.btnMusic {
  width: 25px;
  height: auto;
  margin: 20% 0% 20% 0%;
}

.box {
  display: inline-block;
}

.blue {
  background: rgb(1, 110, 253);
}

/* ============== Elementos Flex ============================ */
.line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.flex-container {
  float: unset;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.flex-item:nth-child(1) {
  order: 0;
  flex: 0 1 auto;
  align-self: center;
}

/* ========================== Escenario ============================= */
.gameStop {
  background: url("../img/fondos/fondoGame.png") no-repeat;
  background-size: cover;
}

.gameContainer {
  height: 85%;
}

.highland {
  width: 100%;
  height: 80%;
  bottom: 100px;
  background: url("../img/fondos/fondo.png") repeat-x;
  background-size: contain;
  animation: movebgMount 400s linear infinite;
}

.forest {
  position: absolute;
  bottom: 0px;
  float: initial;
  width: 100%;
  height: 62%;
  background: url("../img/fondos/plantas.png") repeat-x;
  background-size: contain;
  animation: movebgMount 30s linear infinite;
}

.sky1 {
  width: 100%;
  height: 85%;
  background: url("../img/fondos/sky2.png") repeat-x;
  background-size: contain;
  animation: movebgMount 200s linear infinite;
}

@keyframes movebgMount {
  0% {
    background-position: 5866px;
  }
  100% {
    background-position: 0px;
  }
}

.grass {
  background: url("../img/fondos/piso.png") repeat-x;
  position: absolute;
  background-size: contain;
  height: 100px;
  width: 100%;
  bottom: 0px;
  float: initial;
  animation: movebgGrass 1s linear infinite;
}

@keyframes movebgGrass {
  0% {
    background-position: 2839px;
  }
  100% {
    background-position: 0;
  }
}

/* ========================== personajes ============================= */
.sonic {
  width: 96px;
  height: 114px;
  margin: auto;
  position: absolute;
  bottom: 95px;
  left: 100px;
}

/* 
  sonic esperando 
*/
.impatient {
  background: url("../img/sprites/sonic/sonicEsperando.png") repeat-x;
  animation: impatient 250ms steps(2) infinite;
}

@keyframes impatient {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -185px;
  }
}

/* 
  sonic corriendo
*/
.walk {
  background: url("../img/sprites/sonic/sonicCorriendo.png") repeat-x;
  animation: walk 300ms steps(4) infinite;
}

@keyframes walk {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -384px;
  }
}

/* 
  sonic saltando 
*/
.jump {
  background: url("../img/sprites/sonic/sonicSalto.png") repeat-x;
  animation: jump 700ms steps(10) forwards;
}

@keyframes jump {
  0% {
    top: 140px;
    background-position: 0;
  }
  10% {
    top: -10px;
  }
  20% {
    top: -40px;
  }
  30% {
    top: -80px;
  }
  40% {
    top: -120px;
  }
  50% {
    top: -130px;
  }
  60% {
    top: -120px;
  }
  70% {
    top: -80px;
  }
  80% {
    top: -40px;
  }
  90% {
    top: -10px;
  }
  100% {
    background-position: -961px;
    top: 140px;
  }
}

/* 
  sonic muriendo 
*/
.death {
  background: url("../img/sprites/sonic/sonicMuerte.png") repeat-x;
  animation: death 800ms steps(6) forwards;
}

@keyframes death {
  0% {
    background-position: 0;
  }
  60% {
    bottom: 0%;
  }
  80% {
    bottom: -5%;
  }
  85% {
    bottom: -10%;
  }
  90% {
    bottom: -15%;
  }
  95% {
    bottom: -20%;
  }
  100% {
    background-position: -583px;
    bottom: -30%;
  }
}

/* enemigos varios */
.elemento {
  position: absolute;
  background-position: -112px;
  right: 0px;
}

.aereo {
  bottom: 300px;
}

.terrestre {
  bottom: 95px;
}

.enemigo1 {
  width: 97px;
  height: 74px;
  background: url("../img/sprites/enemigos/enemigo1.png") repeat-x;
  animation: enemigo1 500ms steps(3) infinite, advance 3s forwards linear;
}

@keyframes enemigo1 {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -297px;
  }
}

.enemigo2 {
  width: 128px;
  height: 92px;
  background: url("../img/sprites/enemigos/enemigo2.png") repeat-x;
  animation: enemigo2 500ms steps(3) infinite, advance 2.5s forwards linear;
}

@keyframes enemigo2 {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -386px;
  }
}

.enemigo3 {
  width: 133px;
  height: 77px;
  background: url("../img/sprites/enemigos/enemigo3.png") repeat-x;
  animation: enemigo3 500ms steps(4) infinite, advance 3s forwards linear;
}

@keyframes enemigo3 {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -532px;
  }
}

@keyframes advance {
  from {
    left: 110%;
  }
  to {
    left: -10%;
  }
}

.anillo {
  width: 88px;
  height: 88px;
  background: url("../img/sprites/entorno/anillo.png") repeat-x;
  background-size: cover;
  animation: anillo 500ms steps(16) infinite, advance 4s forwards linear;
}

@keyframes anillo {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -1403px;
  }
}
