body {
  text-align: center;
  margin: 0%;
  padding: 0%;
  overflow: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
  .parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 4; }
    .div2 { grid-area: 1 / 4 / 2 / 6; }
    .div3 { grid-area: 1 / 6 / 2 / 8; }
    .div4 { grid-area: 2 / 1 / 9 / 9; }
    .div5 { grid-area: 1 / 8 / 2 / 9; }

.div1,
.div2,
.div5,
.div3, .info,.menu {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,79,253,1) 100%);
}

h1{
  color: yellow;
  font-style: initial;
}

p{
  color: white;
  margin: 2px 10px 1px 10px;
}
.infoImg{
  width: 50px;
  height: 40px;
}

.infoImgMoneda{
  width: 80px;
  height: 40px;
}

.imgMenu{
  width: 35px;
  height: 35px;
}

img{
  width: 400px;
  height: 120px;
}

.menu {
  height: 300px;
  width: 40%;
}

.info {
  height: 300px;
  width: 60%;
}

.info,.menu{
  border-radius: 5px;
  border: solid 3px white;
  justify-content: center;
  align-items: center;
}

.menu__button{
  margin: 10px;
}

.div4 {
  width: 100%;
  height: 100%;
  position: relative;
}

button{
  padding: 10px;
  background: rgb(255,220,0);
  background: linear-gradient(0deg, rgba(255,220,0,1) 0%, rgba(255,177,0,1) 100%);
  font-size: 30px;
  border-radius: 5px;
  border: none;
}

.btnMusic{
  width: 25px;
  height: auto;
  margin: 20%;
}

.box{
  display: inline-block;
}

/* ==============Elementos Flex============================ */

.flex-container {
  float: unset;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-item:nth-child(1) {
  order: 0;
  flex: 0 1 auto;
  align-self: center;
}

/* =============================================================================== */
.gameStop {
  background: url("../img/fondos/fondoGame.png") no-repeat;
  background-size: cover;
}

.gameContainer{
  height: 85%;
}

/* MUNDO*/
.highland {
  width: 100%;
  height: 80%;
  bottom: 100px;
  background: url("../img/fondos/fondo.png") repeat-x;
  background-size: contain;
  animation: movebgMount 400s linear infinite;
}

.forest{
  position: absolute; 
  bottom: 0px;
  float: initial;
  width: 100%;
  height: 62%;
  background: url("../img/fondos/plantas.png") repeat-x;
  background-size: contain;
  animation: movebgMount 30s linear infinite;
}

.sky1{
  width: 100%;
  height: 85%;
  background: url("../img/fondos/sky2.png") repeat-x;
  background-size: contain;
  animation: movebgMount 200s linear infinite;
}

.grass {
  background: url("../img/fondos/piso.png") repeat-x;
  position: absolute;
  background-size: contain;
  height: 100px;
  width: 100%;
  bottom: 0px;
  float: initial;
  animation: movebgGlass 1s linear infinite;
}

/* PERSONAJES */
.sonic {
  width: 96px;
  height: 114px;
  margin: auto;
  position: absolute;
  bottom: 95px;
  left: 100px;
}

.sonicMenu {
  width: 132px;
  height: 159px;
  margin: auto;
  position: absolute;
  bottom: 95px;
  left: 100px;
}

.impatient{
  background: url("../img/sprites/sonic/sonicEsperando.png") repeat-x;
  animation: impatient 250ms steps(2) infinite;
}

.walk {
  background: url("../img/sprites/sonic/sonicCorriendo.png") repeat-x;
  animation: walk 300ms steps(4) infinite;
}

/* clase auxiliar para probar comfiguraciones de sprite salto*/
.jump {
  background: url("../img/sprites/sonic/sonicSalto.png") repeat-x;
  animation: jump 700ms steps(10) forwards;
}

.elemento {
  position: absolute;
  background-position: -112px;
  right: 0px;
}

.aereo{
  bottom: 300px;
}

.terrestre{
  bottom: 95px;
}

.enemigo1 {
  width: 97px;
  height: 74px;
  background: url("../img/sprites/enemigos/enemigo1.png") repeat-x;
  animation: enemigo1 500ms steps(3) infinite, advance 3s forwards linear;
}

.enemigo2 {
  width: 128px;
  height: 92px;
  background: url("../img/sprites/enemigos/enemigo2.png") repeat-x;
  animation: enemigo2 500ms steps(3) infinite, advance 2.5s forwards linear;
}

.enemigo3 {
  width: 133px;
  height: 77px;
  background: url("../img/sprites/enemigos/enemigo3.png") repeat-x;
  animation: enemigo3 500ms steps(4) infinite, advance 3s forwards linear;
}

.moneda {
  width: 88px;
  height: 88px;
  background: url("../img/sprites/entorno/moneda.png") repeat-x; 
  background-size: cover;
  animation: moneda 500ms steps(16) infinite, advance 4s forwards linear; 
} 

@keyframes enemigo1 {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -297px;
  }
}

@keyframes advance {
  from {
    left: 110%;
  }
  to {
    left: -10%;
  }
}

::-webkit-scrollbar {
	display: none;
}

@keyframes enemigo2 {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -386px;
  }
}
@keyframes enemigo3 {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -532px;
  }
}

@keyframes jump {
  0% {
    top: 140px;
    background-position: 0;
  }
  20% {
    top: -60px;
  }
  40% {
    top: -120px;
  }
  60% {
    top: -120px;
  }
  80% {
    top: -60px;
  }
  100% {
    background-position: -961px;
    top: 140px;
  }
}

@keyframes walk {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -384px;
  }
}

@keyframes movebgMount {
  0% {
    background-position: 5866px;
  }
  100% {
    background-position: 0px;
  }
}

@keyframes movebgGlass {
  0% {
    background-position: 2839px;
  }
  100% {
    background-position: 0;
  }
}

@keyframes impatient {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -264px;
  }
}
@keyframes moneda {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -1403px;
  }
}
