body {
  text-align: center;
  margin: 0%;
  padding: 0%;
}

/* Divs Grid */
.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 3;
}
.div2 {
  grid-area: 1 / 3 / 2 / 5;
}
.div3 {
  grid-area: 1 / 5 / 2 / 7;
}
.div4 {
  grid-area: 2 / 1 / 10 / 7;
}

.div1,
.div2,
.div3 {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 79, 253, 1) 100%
  );
}

.div4 {
  width: 100%;
  height: 100%;
  border: solid 3px red;
  position: relative;
}

/* Elementos Flex */

.flex-container {
  float: unset;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-item:nth-child(1) {
  order: 0;
  flex: 0 1 auto;
  align-self: center;
}

.menu {
  background-color: rgb(0, 215, 253);
  height: 300px;
  width: 40%;
}

.info {
  background-color: rgb(0, 17, 255);
  height: 300px;
  width: 60%;
}

/* =============================================================================== */
.gameStop {
  background: url("../img/fondos/fondoGame.png") no-repeat;
  background-size: cover;
}

/* MUNDO*/
.highland {
  width: 100%;
  height: 100%;
  background: url("../img/fondos/fondo.png") repeat-x;
  background-size: contain;
  animation: movebg 30s linear infinite;
}
.grass {
  background: url("../img/fondos/piso.png") repeat-x;
  position: absolute;
  background-size: contain;
  height: 100px;
  width: 100%;
  bottom: 0px;
  float: initial;
  animation: movebg 1s linear infinite;
}

/* PERSONAJES */
.sonic {
  width: 96px;
  height: 114px;
  margin: auto;
  position: absolute;
  bottom: 95px;
  left: 100px;
  border: solid 3px red;
}

.walk {
  background: url("../img/sprites/sonic/sonicCorriendo.png") repeat-x;
  animation: walk 300ms steps(4) infinite;
}

/* clase auxiliar para probar comfiguraciones de sprite salto*/
.jump {
  background: url("../img/sprites/sonic/sonicSalto.png") repeat-x;
  animation: jump 1s steps(5) forwards;
}

.elemento {
  position: absolute;
  border: solid 3px red;
  background-position: -112px;
  right: 0px;
}

.aereo{
  bottom: 250px;
}

.terrestre{
  bottom: 95px;
}

.enemigo1 {
  width: 115px;
  height: 123px;
  background: url("../img/sprites/enemigos/enemigo1.png") repeat-x;
  animation: enemigo1 500ms steps(3) infinite, advance 4s forwards linear;
}

.enemigo2 {
  width: 128px;
  height: 92px;
  background: url("../img/sprites/enemigos/enemigo2.png") repeat-x;
  animation: enemigo2 500ms steps(3) infinite, advance 4s forwards linear;
}

.enemigo3 {
  width: 133px;
  height: 88px;
  background: url("../img/sprites/enemigos/enemigo3.png") repeat-x; 
  animation: enemigo3 500ms steps(4) infinite, advance 3s forwards linear; 
}

.moneda {
  width: 88px;
  height: 88px;
  background: url("../img/sprites/entorno/moneda.png") repeat-x; 
  background-size: cover;
  animation: moneda 900ms steps(16) infinite, advance 5s forwards linear; 
} 

@keyframes enemigo1 {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -346px;
  }
}

@keyframes advance {
  from {
    left: 110%;
  }
  to {
    left: -10%;
  }
}

::-webkit-scrollbar {
	display: none;
}

@keyframes enemigo2 {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -386px;
  }
}
@keyframes enemigo3 {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -532px;
  }
}

@keyframes jump {
  0% {
    top: 140px;
    background-position: 0;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -90px;
  }
  60% {
    top: -90px;
  }
  80% {
    top: -50px;
  }
  100% {
    background-position: -480px;
    top: 140px;
  }
}

@keyframes walk {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -384px;
  }
}

@keyframes movebg {
  0% {
    background-position: 550px;
  }
  100% {
    background-position: 0;
  }
}

@keyframes impatient {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -178px;
  }
}
@keyframes moneda {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -1403px;
  }
}
